<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.aaronwu.bler.mapper.EmployeeMapper">

    <insert id="insert" parameterType="fun.aaronwu.bler.entity.Employee">
        insert into Company values(#{cEmail},#{cPwd},#{cName},#{cInfo},#{cLogo},#{cCity},#{cWebsite},#{cRange});
        insert into authorized values(#{cEmail},0);
    </insert>

</mapper>